.BattonGroupCriteria {
  text-align: center;
  position: relative;
  margin-top: 48px;
}
.buttonQuality {
  width: 447px;
  height: 56px;
  background: #ffffff;
  border: 2px solid #4c4c4e;
  box-sizing: border-box;
  border-radius: 32px;
  position: absolute;
  left: 22%;
  outline: none;
}
.buttonConditions {
  width: 447px;
  height: 56px;
  background: #ffffff;
  border: 2px solid #4c4c4e;
  box-sizing: border-box;
  border-radius: 32px;
  position: absolute;
  outline: none;
}

.buttonActive{
    background: #4C4C4E;
    z-index: 2;
    color: #ffffff;
}
