.correctTest{
    text-align: center;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 140%;
margin-top: 18px;


color: #068923;
}
.imgCorrect{
    margin-left:47.70%;
    margin-top: 44px;
}