.answerContain{
    margin-top: 48px;
}
.answerTitle{
    list-style: none;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction:row;
    margin-top: 10px;
    
    
}
.answerTittleReverce{
    display: flex;
    flex-direction: column-reverse;
}

button{
  
border: none;
outline: none;
background-color: #fff;
font-weight: 500;
font-size: 24px;
width: 1328px;
text-align: left;
border-radius: 40px;

    
}



.custom-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  

  .custom-radio>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  

  .custom-radio>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  

  .custom-radio>.correctInput:disabled+span::before {
    background-color:  #15D940;
    border: 2px solid #068923;
  }
  
  .custom-radio>.incorrectInput:disabled+span::before {
    background-color:  #D60101;;
    border: 2px solid #B61010;
  }




.answerTitleLi{
    margin-left: 2.2%;
}

.label{
    display: flex;
    align-items: center;
    min-height: 70px;
    position: relative;
    margin-left: 5%;
    
}


label:hover{
    cursor: pointer;
   
}
.correct
{
    background: #DDFFE4;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    
    color:#068923;
}
.incorrect,
.incorrect:hover{
    background-color: #FFEBEB;
    color: #B61010;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
.correctFalse{
    color:#068923;
}