.title{
    margin-top: 32px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    line-height: 140%

}

.titleActiveTimer{
    margin-top: 32px;
    text-align: center;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 140%;



color: #484545;
}
